/* general styles */
html,
body,
* {
    margin: 0;
}

/* Display and positioning */
body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px auto 65px;
}

header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}

main {
    grid-column: 2 / -2;
}

footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 1 / -1;
    grid-row: 3 / -1;
    align-items: center;
}

/* typography */
h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
}


/* header styles */
header {
    background-color: #BF5B04;
}

h1.design-system-heading {
    color: #FFFFFF;
    grid-column: 2 / -2;
}

/* main section styles */
div.element-sections {
    margin-top: 25px;
    margin-bottom: 25px;
}

ul {
    list-style-type: none;
    padding: 10px 0;
}

li {
    padding: 5px 0; 
}

.box {
    width: 40%;
    height: 100px;
    margin: 20px 0;
    border: 1px dotted black;
    display: grid;
    justify-items: center;
    align-items: center;
}

.box p {
    color: #FFFFFF;
}

.one {
    background-color: #5C1F00;
}

.two {
    background-color: #BF5B04;
}

.three {
    background-color: #732103;
}

.four {
    background-color: #400F04;
}

/* footer styles */
footer {
    background-color: #732103;
}

.copyright-info {
    color: #FFFFFF;
    grid-column: 2 / -2;
}