html,
body,
* {
    margin: 0;
}


/* header styles */
header {
    background-color: #BF5B04;
    padding: 20px;
}

.design-system-heading {
    color: #FFFFFF;
    font-family: 'Playfair Display', serif;
}

/* footer styles */
footer {
    background-color: #732103;
    padding: 20px;
}

.copyright-info {
    color: #FFFFFF;
}